.navbar {
  min-height: 80px;
}
 
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
 
.validate
    {
      color: red;
      margin-bottom: 20px;
    }
 
body
{
  font-family: Arial, Sans-serif;
}
 
 
.navbar-nav > li > a {
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
 
 
 
#logo{
    height : 75%;
    width : 50%;
    padding-top: 20px;
    padding-bottom: -2px;
}
 

.category{
    height: 50px;
}

.bgimage{
  width:100%;
  height:550px;
  background: url('https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5{
    padding-top: 300px;
     text-align: center;
  color:white;
  font-size:35px;
  text-shadow:2px 2px #333;
}


 
.messages {
    color: red;
  }
 
 
.error {
  color: #e74c3c;
}
 
 
.my-class {
  text-align: center;
}
 
 
 
 

section{
    padding-top: 2cm;
    position: relative;
     height: auto;
  min-height: 100% !important;
}
 
.block {
  display: table-row;
  height: 1px;
}
 
.footer-1 {
    color: #BDC3C7;
    line-height: 25px;
}
.bg-midnight-black {
    background-color: black;
}
 
.label{
    color:red;
}
 
 
 

 
.panel-heading {
  font-size: larger;
}
 
.alert {
  display: none;
}
 
 
.error, .valid{display:none;}
 
#success_message{ display: none;}


.container {
  margin-top: 20px;
}

.panel-heading {
  font-size: larger;
}

.alert {
  display: none;
}


/**
 * Error color for the validation plugin
 */

.error {
  color: #e74c3c;
}




#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  max-height: 360px;
  margin-left: -300px;
  margin-top: -180px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}



