<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Database"
   connectionString="Server=(LocalDb)\MSSQLLocalDB;Integrated Security=true;AttachDBFilename=|DataDirectory|\Database.mdf;" providerName="System.Data.SqlClient"/>
   
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
  
  <system.webServer> 
            <defaultDocument> 
                <files> 
                    <add value="HomePage.aspx" /> 
                </files> 
            </defaultDocument> 
        </system.webServer> 

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>
